body
{
	overflow: hidden;
	font-family:  "WebPlus_IBM_VGA_8x16", Inconsolata, monospace;
	font-weight:normal;
	font-style:normal;
	font-size: 1em;
	color: #009900;
}
.frame {
    min-width: 90%;
	min-height: 95%;
	background-color: black;
	background-image: radial-gradient(200% 250% at center, rgba(0, 50, 50, 0.75), black 100%);
	background-clip: padding-box;
	color: #009900;
	margin: 15;
	overflow: auto;
	padding: 2rem;
	font-family: "WebPlus_IBM_VGA_8x16", Inconsolata, monospace;
	font-size: 24px;
	text-shadow: 0 0 5px #707070;
	animation: textShadow 0.15s infinite;
}
.frame::after {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: 100% 3px, 2px 100%;

    z-index: 2;
    pointer-events: none;
	}

::selection {
	color: #00f0f0;
	background: #008008;
	text-shadow: none;
}
pre {
	margin: 0;
}
h1 {
	font-family: "Web437_EagleSpCGA_Alt2", Inconsolata, monospace;
	font-weight:normal;
	font-style:normal;
}
p
{
	font-family: "Eagle SpCGA Alt3", Inconsolata, monospace;
	font-weight:normal;
	font-style:normal;
	color: #009900;
}

.tableList{
	font-family:  "WebPlus_IBM_VGA_8x16", Inconsolata, monospace;
	font-size: 1em;
	font-weight:normal;
	font-style:normal;
	color: #009900;
	border: 3px solid #009900;

}
.tdtitles{
	font-family: "Eagle SpCGA Alt3", Inconsolata, monospace;
	font-size: 1.4em;
	font-weight:normal;
	font-style:normal;
	color: #009900;
	border: 3px solid #009900;
}
.tdcontents{
	border: 3px solid #009900;
}

a{
	color: #00ffc0;
	text-shadow: 0 0 5px #a0a0a0;
}


@keyframes textShadow {
	0% {
		text-shadow: 0.4389924193300864px 0 1px rgba(0, 30, 255, 0.5),
			-0.4389924193300864px 0 1px rgba(255, 0, 80, 0.3),
			0 0 3px;
	}
	5% {
		text-shadow: 2.7928974010788217px 0 1px rgba(0, 30, 255, 0.5),
			-2.7928974010788217px 0 2px rgba(255, 0, 80, 0.3),
			0 0 3px;
	}
	10% {
		text-shadow: 0.02956275843481219px 0 1px rgba(0, 30, 255, 0.5),
			-0.02956275843481219px 0 1px rgba(255, 0, 80, 0.3),
			0 0 3px;
	}
	15% {
		text-shadow: 0.40218538552878136px 0 1px rgba(0, 30, 255, 0.5),
			-0.40218538552878136px 0 1px rgba(255, 0, 80, 0.3),
			0 0 3px;
	}
	20% {
		text-shadow: 3.4794037899852017px 0 1px rgba(0, 30, 255, 0.5),
			-3.4794037899852017px 0 1px rgba(255, 0, 80, 0.3),
			0 0 3px;
	}
	25% {
		text-shadow: 1.6125630401149584px 0 1px rgba(0, 30, 255, 0.5),
			-1.6125630401149584px 0 2px rgba(255, 0, 80, 0.3),
			0 0 3px;
	}
	30% {
		text-shadow: 0.7015590085143956px 0 1px rgba(0, 30, 255, 0.5),
			-0.7015590085143956px 0 1px rgba(255, 0, 80, 0.3),
			0 0 3px;
	}
	35% {
		text-shadow: 3.896914047650351px 0 1px rgba(0, 30, 255, 0.5),
			-3.896914047650351px 0 1px rgba(255, 0, 80, 0.3),
			0 0 3px;
	}
	40% {
		text-shadow: 3.870905614848819px 0 1px rgba(0, 30, 255, 0.5),
			-3.870905614848819px 0 1px rgba(255, 0, 80, 0.3),
			0 0 3px;
	}
	45% {
		text-shadow: 2.231056963361899px 0 1px rgba(0, 30, 255, 0.5),
			-2.231056963361899px 0 1px rgba(255, 0, 80, 0.3),
			0 0 3px;
	}
	50% {
		text-shadow: 0.08084290417898504px 0 1px rgba(0, 30, 255, 0.5),
			-0.08084290417898504px 0 1px rgba(255, 0, 80, 0.3),
			0 0 3px;
	}
	55% {
		text-shadow: 2.3758461067427543px 0 1px rgba(0, 30, 255, 0.5),
			-2.3758461067427543px 0 1px rgba(255, 0, 80, 0.3),
			0 0 3px;
	}
	60% {
		text-shadow: 2.202193051050636px 0 1px rgba(0, 30, 255, 0.5),
			-2.202193051050636px 0 1px rgba(255, 0, 80, 0.3),
			0 0 3px;
	}
	65% {
		text-shadow: 2.8638780614874975px 0 1px rgba(0, 30, 255, 0.5),
			-2.8638780614874975px 0 1px rgba(255, 0, 80, 0.3),
			0 0 3px;
	}
	70% {
		text-shadow: 0.48874025155497314px 0 1px rgba(0, 30, 255, 0.5),
			-0.48874025155497314px 0 1px rgba(255, 0, 80, 0.3),
			0 0 3px;
	}
	75% {
		text-shadow: 1.8948491305757957px 0 1px rgba(0, 30, 255, 0.5),
			-1.8948491305757957px 0 1px rgba(255, 0, 80, 0.3),
			0 0 3px;
	}
	80% {
		text-shadow: 0.0833037308038857px 0 1px rgba(0, 30, 255, 0.5),
			-0.0833037308038857px 0 1px rgba(255, 0, 80, 0.3),
			0 0 3px;
	}
	85% {
		text-shadow: 0.09769827255241735px 0 1px rgba(0, 30, 255, 0.5),
			-0.09769827255241735px 0 1px rgba(255, 0, 80, 0.3),
			0 0 3px;
	}
	90% {
		text-shadow: 3.443339761481782px 0 1px rgba(0, 30, 255, 0.5),
			-3.443339761481782px 0 1px rgba(255, 0, 80, 0.3),
			0 0 3px;
	}
	95% {
		text-shadow: 2.1841838852799786px 0 1px rgba(0, 30, 255, 0.5),
			-2.1841838852799786px 0 1px rgba(255, 0, 80, 0.3),
			0 0 3px;
	}
	100% {
		text-shadow: 2.6208764473832513px 0 1px rgba(0, 30, 255, 0.5),
			-2.6208764473832513px 0 1px rgba(255, 0, 80, 0.3),
			0 0 3px;
	}
}
.scanline {
    width: 100%;
    height: 100px;
    z-index: 8;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(255, 255, 255, 0.2) 10%,
        rgba(0, 0, 0, 0.1) 100%
    );
    opacity: 0.1;
    position: absolute;
    bottom: 100%;
    animation: scanline 10s linear infinite;
    pointer-events: none;	
}
.scanline1 {
    width: 100%;
    height: 100px;
    z-index: 18;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(255, 255, 255, 0.2) 10%,
        rgba(0, 0, 0, 0.1) 100%
    );
    opacity: 0.1;
    position: absolute;
    bottom: 100%;
    animation: scanline 4s linear infinite;
    pointer-events: none;	
}
@keyframes scanline {
    0% {
        bottom: 100%;
    }
    80% {
        bottom: 100%;
    }
    100% {
        bottom: 0%;
    }
}
#screen {
    position: relative;
	background: rgba(18, 16, 16, 1);
	margin: auto;
    width: 97%;
    overflow: hidden;
}
.cristal {
    pointer-events: none;	
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
	opacity: 60%;

	background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size: 100% 3px, 2px 100%;
	
}

.tdwindow{
  border: 3px solid #009900;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.thumbs {
  cursor: pointer;
}
.thumbs:hover {
  cursor: pointer;
  box-shadow: 1px 2px 3px lightgreen;
}
.segments
{
	font-family: "The Display St";
	line-height: 1.5;
	display: inline-block;
	vertical-align: middle;
	width: 80px;
	height: 24px;
	text-align: center;
	font-weight:normal;
	font-style:normal;
	font-size: 0.73em;
	color: #00A555;
	background-color: #101010;
}

.ltrough
{
  text-decoration: line-through;
}
.scaleClass
{
	 transform: scale(0.5);
}
.manos /* The Hands of Fate */
{
	 cursor: pointer;
}
.cellTit
{
	font-size:1.2em;
	font-weight:bold;
}
.centerBold
{
	font-size:1.2em;
	font-weight:bold;
	text-align:center;
}